extends layout

block content
	.container
		h1= title
		p Welcome to #{title}
		.row
			.col-md-12.text-center.bg-danger
				<iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/reckful/chat" height="500" width="350"></iframe>
