doctype html
html
	head
		meta(charset='UTF-8')
		title= title
		link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body.bg-px
		h1
			a.text-warning.audio-twitch-h1(href='/') Auditory
		.container
			.row
				.col-sm-4.col-sm-offset-4
					form(action='/', method='POST', id='streamForm')
						.input-group
							input#streamSearch.form-control(type='text', name='streamer', placeholder='Streamer')
							#illegalChr
								span Illegal character 
							span.input-group-btn
								button.btn.btn-default(type='submit', id='streamBtn') Search
			block content
		script(src='/javascripts/min.assets.js').


