
/* General Layout */

body {
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

.bg-shade {
	background-color: #333;
}

.top-buffer {
	margin-top: 10rem;
}

.bg-px {
	background-image: url("/images/cartographer.png");
}

.audio-twitch-h1 {
	background-color: rgba(23,20,31,.4);
	padding: 1.75rem;
}

.col-sm-4 {
	width: 390px;
	padding-top: 1rem;
	background-color: rgba(23,20,31,.4);
}	

/* Input Field */

#illegalChr {
	display: none;
	position: absolute;
	top: -50px;
	padding: .5rem;
	background: #000;
	border: 1px solid #fff;
	color: #fff;
}
	#illegalChr::before {
		content: '';
		position: absolute;
		top: 100%;
		left: 25px;
		width: 0; 
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #fff;
	}

/* Player Controls */

.playNo {
	display: none;
}

#playerControls {
	margin: 1rem;
	vertical-align: middle;
	white-space: nowrap;
	background-color: rgb(23,20,31);
}

.playerBtn {
	display: inline-block;
	vertical-align: middle;
}

.btn {
	border-radius: 0;
}

.btn-xs {
	margin: .1rem;
	border-radius: 0;
}

.form-control {
	background-color: rgba(255,255,255,.1);
	border-radius: 0;
	color: #fff;
}
	.form-control:focus {
		border-color: #fff;
	}

#streamInfo {
	display: inline-block;
	vertical-align: middle;
    overflow: scroll;
    width: 185px;
    white-space: nowrap;
    color: #fff;
}	

	#streamInfo:hover {
		cursor: default;
	}

	#streamInfo::-webkit-scrollbar { 
	    display: none; 
	}


/* Chat */

#chat_embed {
	padding-bottom: .75rem;
	position: relative;
}

/* Loading Bar */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.text {
  fill: none;
  stroke-width: 1;
  stroke-linecap: square;
  stroke-dasharray: 700;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 3s linear;
  animation: stroke 3s linear;
}

.text {
  stroke: #F5A503;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

@-webkit-keyframes stroke {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

svg {
  position: fixed;
  width: 120px;
  height: 180px;
  top: 50%;
  left: calc(50% - 60px);
  font: 9.5em/1 Josefin Sans, Impact;
}









