
/* General Layout */

body {
	font-family: 'Open Sans', sans-serif;
}

.bg-shade {
	background-color: #333;
}

.top-buffer {
	margin-top: 10rem;
}

.bg-px {
	background-image: url("/images/black_lozenge.png");
}

.audio-twitch-h1 {
	background-color: rgba(0,0,0,.5);
	padding: 1.75rem;
}

.col-sm-4 {
	padding-top: 1rem;
	background-color: rgba(0,0,0,.4);
}	

/* Player Controls */

.playNo {
	display: none;
}

.playerControls {
	margin: 1rem;
	background-color: rgb(0,0,0);
}
	.playerControls span {
		margin: 0 0 0 .5rem;
		color: #fff;
	}

.btn {
	border-radius: 0;
}

.btn-xs {
	margin: .1rem;
	border-radius: 0;
}

.form-control {
	background-color: rgba(255,255,255,.1);
	border-radius: 0;
	color: #fff;
}
	.form-control:focus {
		border-color: #fff;
	}

/* Chat */

#chat_embed {
	padding-bottom: .75rem;
}













